# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.idea/.idea.Spectra-Build-Tools/.idea
/.vs
/Debug
/x64/Debug
/Spectra-Build-Tools/ccache
/Spectra-Build-Tools/clang
/Spectra-Build-Tools/Debug
/Spectra-Build-Tools/runtime
/Spectra-Build-Tools/x64/Debug
/Spectra-Build-Tools/Spectra-Build-Tools.vcxproj
/Spectra-Build-Tools/Spectra-Build-Tools.vcxproj.filters
/Spectra-Build-Tools/Spectra-Build-Tools.vcxproj.user
